/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  
}

.label-captura {
  display: flex;
  justify-content: center;
}


/* pagina historia */
.dash-right .avisos {
  width: 100%;
  color: rgb(255, 255, 255);
  
}

.btns{
  display: flex;
  margin-top: 2vh;
  gap: 20px;
}


.dash-right .avisos .container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border: 3px solid #4d4d4d;
  color: white;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  border: 3px solid #4d4d4d;
  color: white;
  background-color: rgb(65, 65, 65);
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #615e5e;
  width: 120px;
  transition: all 0.3s;
}

.dash-right .avisos .div-form button:hover {
  transform: scale(1.05);
  background-color: #FF1109;
  transition: all 0.3s;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #615e5e;
  width: 80px;
  transition: all 0.3s;
}

.publicacao-btn-editar:hover {
  transform: scale(1.05);
  background-color: #FF1109;
  transition: all 0.3s;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #FF1109;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}



/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #FF1109;
  background-color: #212124;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #FF1109;
  font-size: 30px;
}



.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e4e4e4;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 1000;
}

.btn-nav {
  width: 60%;
  color: white;
  background-color: rgb(146, 146, 146);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}



.btn-nav-white {
  width: 60%;
  background-color: rgb(255, 255, 255);
  border: 3px solid #5c5c5c;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  transition: all 0.3s;

}

.btn-nav-white:hover{
  transform: scale(1.05);
  transition: all 0.3s;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 40%;
  background-color: #FF1109;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 0.3s;

}

.btn-logout:hover{
  transform: scale(1.05);
  transition: all 0.3s;
}

/* QUIZ */


.janela .dash{
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  
}

.janela .dash .titulos{
  margin-top: 5vh;
  border-bottom: solid 1px red;
}

.main{
  width: 50vw;
  height: 70vh;
  padding: 20px;
  background-color: #4d4d4d;
  border-radius: 10px;
}

.main .btn{
  width: 10vw;
  margin-top: 2vh;
}

.main .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questao {
  display: flex;
  height: 11vh;
  justify-content: center;
  border-bottom: solid 1px red;
  font-size: 25px;
  margin-bottom: 20px;
}
.opcao {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}
.opcao.selected {
  background-color: #FF1109;
  color: white;
  transition: all 0.2s;
  border: solid 2px black ;
}

#resultado{
  display: flex;
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}

#resultado .btn{
  width: 15vw;
}

#resultado img{
  width: 200px;
  margin-top: 2vh;
  border-radius: 5px;
  border: solid 1px black
}

/* METRICAS */
.metricas{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px 30px;
  flex-direction: column;
}

#userSpan{
  color: rgb(228, 227, 227);
  font-weight: 100;
}

#tituloMetrica{
  font-size: 25px;
}

.kpis{
  display: flex;
  justify-content: center;
  text-align: center;
  
  gap: 100px;
}

.kpiIndividual{
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
  margin-top: 2vh;
  width: 25vw;
  height: 22vh;
  border: solid 2px black;
  border-radius: 10px;
  background-color: rgb(146, 146, 146);
  box-shadow: 10px 10px rgba(0, 0, 0);  
}

.kpiIndividual .tituloKpi{
  font-size: 15px;
  font-weight: 800;
  
}

.kpiIndividual .numKpi{
  font-size: 40px;
  color: rgb(37, 37, 37);
  text-shadow: none;
  font-weight: 800;
}

#pontuacaoAtual{
  margin-top: 3vh;
}

.graficos{
  display: flex;
  justify-content: center;
  height: 100%;
}

.graficos .titulos{
  font-size: 20px;
  width: 20vw;
  text-align: center;
}

.grafico2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.chartIdv{
  width: 40vw;
  border:outset 5px black;
  margin-top: 3vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}